<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289186030434-ed39nc08d4it7jh0fnjlr8uvvs9hf5th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289186030434-ed39nc08d4it7jh0fnjlr8uvvs9hf5th</string>
	<key>API_KEY</key>
	<string>AIzaSyAtw6-XK9lNZZm4tLv0Ol7gjp1AdIwUT_E</string>
	<key>GCM_SENDER_ID</key>
	<string>289186030434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psychobia</string>
	<key>PROJECT_ID</key>
	<string>psychobia-database</string>
	<key>STORAGE_BUCKET</key>
	<string>psychobia-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289186030434:ios:1ea7fd09bc00b11d5d823b</string>
</dict>
</plist>